body {
  background-color: $beige;
}

h1, h2, h3 {
  color: $red;
}

.quote {
  font-family: $base-font;
  font-style: italic;
  margin-top: 100px;
  p {
    font-family: $header-font;
    color: $brown;
  }
}
/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
