html, body {
  background-color: $beige;
  height: 100%;
  margin: 0;
  padding: 0;
}

#main_container {
  min-height:100%;
  position:relative;
  margin: 0;
  padding: 0;
}

#body {
  padding-bottom:140px;
}

h1, h2, h3 {
  color: $red;
}

.quote {
  font-family: $base-font;
  font-style: italic;
  margin-top: 100px;
  p {
    font-family: $header-font;
    color: $brown;
  }
}
/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
