<div class="container nest_form">
  <div class ="intro">
    <h1>Hi <%= @user.first_name %> ! </h1></br>
    <p>Tell us more about your nest </p>
  </div>

  <div class="nest_form">
    <%= render 'form' %>
  </div>

<div class="container link">
  <%= link_to "return to your profil", "/users", class:"deviselink" %>
</div>
</div>
