<div class="container nest_form">
  <div class="intro">
    <h1>Hi, <%= current_user.first_name %> ! </h1>
    <p>Tell us more about you </p>
  </div>

  <div class="nest_form">
    <%= render 'form' %>
  </div>

  <div class="container link">
    <%= link_to 'return to your profile', user_path(current_user), class:"deviselink" %>
  </div>
</div>

