.wrapper-beige {
  background-color: $beige;
  height: 400px;
}

.padded {
  padding-top: 100px;
}

.icon {
  padding: 20px;
  color: $red;
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
  p {
    padding-top: 20px;
    font-family: PT sans;
  }
}

.icon:hover {
    transform: scale(1.1);
}
